* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Here mainly the body background color,
height, width, position, size of fonts etc
fixed*/
    background: radial-gradient( circle at 50% 0, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0) 70.71%), radial-gradient( circle at 6.7% 75%, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0) 70.71%), radial-gradient( circle at 93.3% 75%, rgba(0, 255, 0, 0.5), rgba(0, 255, 0, 0) 70.71%) beige;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-repeat: unset;
    font-size: 50px;
}


/*In this part we will make the round shape
of the face,and the basic structure of face
like add some color of face,height,width etc*/

.face {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face::before {
    /*In this part we will make
the mouth of the face*/
    content: "";
    position: absolute;
    top: 120px;
    width: 150px;
    height: 70px;
    background: yellow;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    transition: 0.5s;
}

.face:hover::before {
    /*Here we will add the hover effects.
Like when the cursor will came on the mouth the
mouth will closed that means is radius
will be decreased*/
    top: 120px;
    width: 150px;
    height: 20px;
    background: yellow;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


/*In this part we will make
the eyes of the face*/

.eyes {
    position: relative;
    top: -30px;
    display: flex;
}

.eyes .eye {
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    background: #fff;
    margin: 0 15px;
    border-radius: 50%;
}

.eyes .eye::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 50%;
}

p {
    font-size: 20px;
    margin-top: -20%;
}